apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapUsers: |
    - userarn: arn:aws:iam::248189947068:user/roberto.diniz-2
      username: roberto.diniz-2
      groups:
        - system:masters
